/* *
 * @name AeroCord
 * @author Repojun
 * @description glossy surfaces, bright gradients, glassy buttons, and tech-inspired typography.
 * @version 0.0.4
*/

/*

 this theme will bog Discord down really badly, you have been warned 
 Most of this is undocumented and half of it is probably unneccesary, but I doubt anyone will take the time to fix it 
 NONE OF THIS COMMENTED OUT STUFF WORKS. AT ALL. 

 :root {
  --background-image: url("https://github.com/Twisty10000/AeroCord/blob/main/Bg%20Images/Left.png?raw=true");
  --interactive-normal: white;
  --channel-text-area-placeholder: rgba(255, 255, 255, 0.546) !important;
  --text-muted: rgba(188, 238, 255, 0.622) !important;
  --channels-default: rgb(160, 199, 212) !important;
  --interactive-muted: rgba(192, 239, 255, 0.381) !important;
  --channel-icon: rgb(160, 199, 212) !important;
  --header-secondary: rgb(179, 232, 249) !important;
  --primary-330: rgb(235, 235, 235) !important;
  --primary-500: #5665eb !important;
}

 body {
  cursor: url(https://ani.cursors-4u.net/toons/too-12/too1130.cur), auto !important;
} 

 [class^="embedFull"] {
  background-color: transparent !important;
}

 Main container need to make others transparent 
.container_c48ade, .standardSidebarView__23e6b, .members_c8ffbb, .thin_d125d2, .scrollerBase_d125d2, .fade_d125d2, .container_c8ffbb, .membersWrap_c8ffbb, .hiddenMembers_c8ffbb{
  background-size: 100% 100%;
  background-image: url("https://github.com/Twisty10000/AeroCord/blob/main/Bg%20Images/Left.png?raw=true") !important;
  background-image: url("https://github.com/Twisty10000/AeroCord/blob/main/Bg%20Images/Right.png?raw=true") !important;
} 

 .channelTextArea_f75fb0,
.title_f75fb0,
.privateChannels__35e86,
.subtitleContainer_f75fb0,
.scroller__99e7c,
.shop__6db1d,
.pageWrapper__6db1d,
.header_c6bf1b.stickyHeader_c6bf1b,
.titleContainer_e29cd7,
.content__99f8c,
.wrapper_ef3116,
.appMount__51fd7,
.privateChannels__35e86,
.sidebar_c48ade,
.panels_c48ade,
.chat_f75fb0,
.subtitleContainer_f75fb0,
.title_f75fb0,
.chatContent_f75fb0,
.channelTextArea_f75fb0,
.folder__48112,
.gradient_f8ec41,
.member_c8ffbb,
.modeSelected__2ea32,
.container_c8ffbb,
.theme-dark .children__9293f:after,
.container__7d20c,
.layer__59d0d,
.panels__5e434
::after{
  background-color: transparent !important;
  background: none !important;
}
.container__9293f, .themed__9293f{
  background-color: transparent !important;
}
 Tool Tip 


.buttonsInner__5126c {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  background-color: rgba(180, 255, 248, 0.15) !important;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5.5px);
  border: 1px solid rgba(148, 246, 255, 0.3);
  box-shadow: inset 0px 0px 15px rgba(148, 246, 255, 0.2);
  transition: 0.1s;
  text-shadow: rgb(29, 37, 47, 0.761) 1px 0 10px;
}

 CHAT BOX 
.themedBackground__74017,
.button_e6e74f,
.childWrapperNoHoverBg__6e9f8,
.footer__214dc {
  background: rgba(180, 255, 248, 0.15) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(150px);
  transition: 0.4s;
  box-shadow: inset 0px 0px 15px rgba(148, 246, 255, 0.4);
}

.container__2637a,
.members_c8ffbb {
  background: rgba(180, 255, 248, 0) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(150px);
  transition: 0.4s;
}

.footer__214dc {
  background: #364992 !important;
}

.link__2ea32,
.memberInner__5d473,
.interactive_bf202d {
  transition: 0.4s;
}

.link__2ea32:hover {
  border-radius: 10px;
}
.theme-dark .scroller__36d07::-webkit-scrollbar-track {
  background: rgba(106, 151, 255, 0.1) !important;
  max-width: 1px !important;
  backdrop-filter: blur(5px);
}
.theme-dark .scroller__36d07::-webkit-scrollbar-thumb {
  max-width: 1px !important;
  background: rgba(106, 151, 255, 0.2) !important;
  backdrop-filter: blur(5px);
}

.link__2ea32:hover,
.memberInner__5d473:hover,
.interactive_bf202d:hover,
.selected_bf202d,
.selectedChannel_c69b6d,
.searchBar__97492:hover,
.hoverBarButton_f84418:hover {
  background: rgba(106, 151, 255, 0.526) !important;
  box-shadow: 0 4px 30px rgba(0, 255, 238, 0.1);
  box-shadow: inset 0px 0px 5px rgba(148, 246, 255, 0.613);
  transition: 0.2s;
}

.selectedChannel_c69b6d,
.selected_bf202d,
.interactive_bf202d:hover,
.memberInner__5d473:hover {
  border-radius: 10px;
}

.searchBarComponent__35e86,
.searchBar__97492 {
  border: 1.5px solid rgba(148, 246, 255, 0.3);
  background: rgba(106, 151, 255, 0.2) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5.5px);
  transition: 0.4s !important;
  box-shadow: inset 0px 0px 10px rgba(148, 246, 255, 0.2);
} 

.themedBackground__74017:hover,
.button_e6e74f:hover {
  background: rgba(180, 255, 248, 0.3);
  box-shadow: inset 0px 0px 15px rgba(148, 246, 255, 0.8);
  transition: 0.2s;
}

.message__5126c,
.messageListItem__5126c {
  transition: 0.4s;
}

.message__5126c:hover,
.messageListItem__5126c:hover {
  background-color: rgba(180, 255, 248, 0.1);
  transition: 0.2s;
}

.message__5126c {
  transition: 0.4s;
}

.chatContent_f75fb0 {
  color: black !important;
  box-shadow: inset 0px 0px 30px rgba(148, 246, 255, 0.2);
}

.expandedFolderBackground__48112 {
  box-shadow: inset 0px 0px 30px rgba(148, 246, 255, 0.2);
  background: rgba(180, 255, 248, 0.1);
}

.buttons__74017 {
  margin-right: 1px !important;
}

.button_e131a9,
.button__67645,
.button__74017,
.icon__9293f,
.clickable_c99c29 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 100px;
  padding: 8px 8px;
  color: #fff;
  text-align: center;
  transition: 0.2s;
  text-shadow: 0 1px 1px #112ae7 !important;
  background-color: #4452d8 !important;
  border: 1px solid #4356ff !important;
  transition: 0.4s;
  background-image: radial-gradient(75% 50% at 50% 0%, #f4feff, transparent), radial-gradient(75% 35% at 50% 85%, #8d93fc, transparent) !important;
  box-shadow: inset 0 -2px 4px 1px rgba(17, 46, 231, 0.6), inset 0 -4px 4px 1px #8d96fc, inset 0 0 2px 1px rgba(255, 255, 255, 0.2),
    0 1px 4px 1px rgba(17, 46, 231, 0.2), 0 1px 4px 1px rgba(0, 0, 0, 0.1) !important;
}

 .attachButton__0923f 
.privateChannelRecipientsInviteButtonIcon__99e7c {
  background-color: transparent !important;
  padding: 0px 0px !important;
  background-image: none !important;
  box-shadow: none !important;
  border-radius: 0px !important;
  border: none !important;
  display: block !important;
  height: 15px !important;
  width: 15px !important;
}

.privateChannelRecipientsInviteButtonIcon__99e7c:hover {
  background-color: none !important;
  background: none !important;
  transition: 0.2s;
  transform: none !important;
}

.button__74017,
.icon__9293f,
.clickable_c99c29 {
  padding: 6px 6px;
}

.icon__9293f {
  width: 30px;
  height: 30px;
}

.clickable_c99c29 {
  width: 15px;
  height: 15px;
}

.button_e131a9:hover,
.button__67645:hover,
.button__74017:hover,
.icon__9293f:hover,
.clickable_c99c29:hover {
  background-color: rgb(0, 47, 255) !important;
  transition: 0.2s;
  transform: translateY(-3px);
}

.flex__7c0ba {
  column-gap: 2px;
  justify-content: center;
  align-items: center;
}

.theme-dark .form_f75fb0:before,
.theme-dark .form_f75fb0:after,
.theme-dark .children__9293f:after,
.searchResult__02a39 {
  background: none !important;
}

.sidebar_c48ade,
.wrapper_ef3116,
.sidebarRegion__23e6b{
  background: rgba(35, 55, 53, 0.05);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(150px);
  transition: 0.4s;
  box-shadow: inset 0px 0px 15px rgba(148, 246, 255, 0.2);
}

.wrapper_ef3116 {
  margin-bottom: 0px !important;
}

.container_e131a9{
  background-color: transparent !important;
  background: rgba(180, 255, 248, 0) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5.5px);
  border: 1px solid rgba(148, 246, 255, 0.3);
  transition: 0.4s;
  box-shadow: inset 0px 0px 15px rgba(148, 246, 255, 0.2);
  margin: 0px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.panel__5dec7,
.activityPanel_c48ade,
.container__37e49 {
  background-color: transparent !important;
  background: rgba(180, 255, 248, 0) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5.5px);
  border: 1px solid rgba(148, 246, 255, 0.3);
  transition: 0.4s;
  box-shadow: inset 0px 0px 15px rgba(148, 246, 255, 0.2);
}

 .container__37e49 {
  background: rgba(180, 255, 248, 0.05) !important;
} 

.panels_c48ade{
   margin-left: 73px; 
   width: 77% !important; 
  padding-bottom: 13px;
}

.itemsContainer_ef3116{
  margin-top: 15px;
}

.toolbar__9293f{
  font-size: larger !important;
  margin-right: 30px;
}

.container__9293f, .container__9293f, .contentRegion__23e6b, .contentTransitionWrap__23e6b *{
  box-sizing: unset !important;
  background-color: transparent !important;
}

.container__133bf, .page_c48ade, .tabBody__133bf, .children__9293f, .grid__623de, .gridContainer__623de, .visual-refresh .embedFull__623de, .sidebarList_c48ade, .scroller__7d20c, .thin_d125d2{
  background-color: transparent !important;
}

 .visual-refresh, .sidebarListRounded_c48ade{
  border-top-left-radius: 0px !important; Get rid of that dumb top left corner rounded bit
} 

 .iconWrapper__9293f, .clickable__9293f{
  font-size: larger !important;
}

.visual-refresh .clickable__9293f .icon__9293f, .lottieIcon__5eb9b, .clickable_c99c29 .svg{
  color: white;
}

.outer_c0bea0 {
  background-color: transparent !important;
  background: rgba(180, 255, 248, 0) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5.5px);
  border: 1px solid rgba(148, 246, 255, 0.3);
  transition: 0.4s;
  box-shadow: inset 0px 0px 15px rgba(148, 246, 255, 0.2);
} 

 .layer__59d0d,
.container_fc561d,
.header_ab6641,
.messages__1ccd1,
 inbox popup 
 .channelHeader__35a7e,
.recentMentionsPopout__95796,
.messageContainer__95796 {
  background-color: transparent !important;
  background: rgba(180, 255, 248, 0) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5.5px);
  border: 1px solid rgba(148, 246, 255, 0.3);
  transition: 0.4s;
  box-shadow: inset 0px 0px 15px rgba(148, 246, 255, 0.2);
} 

 .menu_c1e9c4 {
  background-color: transparent !important;
  background: rgba(148, 246, 255, 0.3) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5.5px);
  border: 1px solid rgba(148, 246, 255, 0.3);
  transition: 0.4s;
  box-shadow: inset 0px 0px 15px rgba(148, 246, 255, 0.2);
} 


 typing indicator 
 .typing_b88801,
.base_b88801,
.inTextChannel_b88801 {
  background-color: transparent !important;
  background: rgba(180, 255, 248, 0) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5.5px);
  border: 1px solid rgba(148, 246, 255, 0.3);
  transition: 0.4s;
  box-shadow: inset 0px 0px 15px rgba(148, 246, 255, 0.2);
}

.chatGradient__36d07,
.chatGradientBase__36d07 {
  background-color: transparent !important;
  background: rgba(180, 255, 248, 0) !important;
} 

/////////////////////////////////

 .editor-wrapper {
    background: rgba(180, 255, 248, 0.05) !important;
} 

 .monaco-editor .cursor {
  border-left: 1px solid white !important;
}

.monaco-editor .selected-text {
  background-color: rgba(106, 151, 255, 0.5) !important;
  color: white !important;
}  */

:root {
  --background-image: url("https://github.com/Twisty10000/AeroCord/blob/main/Bg%20Images/Left.png?raw=true");
  --interactive-normal: white;
  --channel-text-area-placeholder: rgba(255, 255, 255, 0.546) !important;
  --text-muted: rgba(188, 238, 255, 0.622) !important;
  --channels-default: rgb(160, 199, 212) !important;
  --interactive-muted: rgba(192, 239, 255, 0.381) !important;
  --channel-icon: rgb(160, 199, 212) !important;
  --header-secondary: rgb(179, 232, 249) !important;
  --primary-330: rgb(235, 235, 235) !important;
  --primary-500: #5665eb !important;
}

/* I'm keeping this in for back-compat (as well as I have no idea what it does)*/
[class^="embedFull"] {
  background-color: transparent !important;
}

 /* Main container need to make others transparent and themed (I think, I don't know, this is stolen from the broken stuff - Diode-exe) */
.a3002d7de5be5280-appAsidePanelWrapper,
.a3002d7de5be5280-notAppAsidePanel, 
.a3002d7de5be5280-app, 
._960e4207cea8323e-bg, 
._960e4207cea8323e-layer, 
._960e4207cea8323e-baseLayer, 
._5e434347c823b592-container, 
._5e434347c823b592-base, 
._5e434347c823b592-content, 
._5e434347c823b592-sidebar,
._5e434347c823b592-sidebar,
.ef3116c2da186559-wrapper{
  background-size: 100% 100%;
  background-image: url("https://github.com/Twisty10000/AeroCord/blob/main/Bg%20Images/Left.png?raw=true") !important;
  background-image: url("https://github.com/Twisty10000/AeroCord/blob/main/Bg%20Images/Right.png?raw=true") !important;
} 


/* this is the servers list on the left as well as the channels list next to it */
._5e434347c823b592-guilds,
._5e434347c823b592-sidebarList,
._2637a2609f343032-container {
  background-color: transparent !important;
  background: none !important;
}

/* this is the avatar and mute/deafen/settings button element */
._5e434347c823b592-panels {
    background-color: rgba(57, 38, 96, 0.3);
    backdrop-filter: blur(5px);        
    -webkit-backdrop-filter: blur(10px);                   
    border: 1px solid rgba(255, 255, 255, 0.2);
}

/* makes the avatar element buttons jump on hover, mic/mute, hp/defean, gear/stngs respectively */
  ._37e49614b9f110a9-micButtonParent:hover {
    transition: 0.2s;
    transform: translateY(-3px);
  }

  ._37e49614b9f110a9-micButtonParent:hover {
    transition: 0.2s;
    transform: translateY(-3px);
  }

  ._67645e1530f1195d-button:hover {
    transition: 0.2s;
    transform: translateY(-3px);
  }

/* these are the buttons at the top right, pinned msgs, threads, etc */
._9293f6b2fc12398a-iconWrapper, ._9293f6b2fc12398a-clickable, ._9293f6b2fc12398a-selected, .c99c29809d200a61-clickable {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 100px;
  padding: 8px 8px;
  color: #fff;
  text-align: center;
  transition: 0.2s;
  text-shadow: 0 1px 1px #112ae7 !important;
  background-color: #4452d8 !important;
  border: 1px solid #4356ff !important;
  transition: 0.4s;
  background-image: radial-gradient(75% 50% at 50% 0%, #f4feff, transparent), radial-gradient(75% 35% at 50% 85%, #8d93fc, transparent) !important;
  box-shadow: inset 0 -2px 4px 1px rgba(17, 46, 231, 0.6), inset 0 -4px 4px 1px #8d96fc, inset 0 0 2px 1px rgba(255, 255, 255, 0.2),
    0 1px 4px 1px rgba(17, 46, 231, 0.2), 0 1px 4px 1px rgba(0, 0, 0, 0.1) !important;
}

/* channel name bar, with search and threads, pinned msgs buttons */
.f75fb00fb7356cbe-subtitleContainer,
.f75fb00fb7356cbe-title,
._9293f6b2fc12398a-container,
._9293f6b2fc12398a-themed,
._9293f6b2fc12398a-upperContainer,
._9293f6b2fc12398a-children,
._5e434347c823b592-page, 
.f75fb00fb7356cbe-chat {
  background-color: transparent !important;
  background: none !important;
}


/* the messages scroller */
.f75fb00fb7356cbe-chatContent,
.f75fb00fb7356cbe-content,
._36d072eab2b2e737-messagesWrapper,
._36d072eab2b2e737-scroller,
.d125d22cdfd32cfe-customTheme,
.d125d22cdfd32cfe-auto,
.d125d22cdfd32cfe-scrollerBase {
  background-color: transparent !important;
  background: none !important;
}

/* members list on right side */
.d125d22cdfd32cfe-content,
.c8ffbb79449f399c-container,
._5d473ecff348c314-member,
.c8ffbb79449f399c-member,
._91a9d7f7e5248a56-container,
._91a9d7f7e5248a56-clickable {
  background-color: transparent !important;
  background: none !important;
}

/* profile pictures in chat */
.c19a557985eb7793-avatar {
  border-radius: 0px;
}